.button {
  height: 40px;
  border-radius: 50px;
  background-color: #5d322b;
  color: #e3d18a;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;

  &:hover {
    background-color: #9e7540;
  }
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s;

  &:hover {
    color: #e3d18a;
  }
}

.hidden {
  display: none;
}
